<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend - services for Doctor Search and Appointment Booking</title>
  <style>
    .custom{
      animation: fade 2s;
    }

    @keyframes fade {
      0%{
        transform: translateY(20%);
        opacity: 0;
      }
      100%{
        transform: translateY(0%);
        opacity: 1;
      }
    }
  </style>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="w-screen h-screen bg-black flex justify-center items-center font-semibold text-6xl text-green-600 "
  >
  <div class="custom">
    Running Backend !!
  </div>
</div>
</body>
</html>