@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

#text-animation{
  animation: move 2s;
}

@keyframes move {
  0%{
    transform: translateY(20%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes wave {
  0%, 100% {
    transform: scale(1.3) translate(10px, 10px);
    border-radius: 50% 58% 66% 34% / 36% 44% 56% 64%;
  }
  50% {
    transform: scale(1.6) translate(100px, 50px);
    border-radius: 58% 42% 34% 66% / 64% 56% 44% 36%;
  }
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
  mix-blend-mode: screen;
  animation: wave 10s ease-in-out infinite;
  z-index: -1;
}


.title:hover {
  background: linear-gradient(120deg, #3d9ad8, #e8ab8c, #3d9ad8);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineWave 5s linear infinite;
}

@keyframes shineWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Customize progress bar */
#nprogress .bar {
  background: linear-gradient(to right, #ff6b6b, #ff3b3b);
  height: 4px;
  border-radius: 2px;
  transition: all 0.4s ease-in-out; /* Smooth transition */
}

/* Remove sharp peg effect for smoothness */
#nprogress .peg {
  display: none;
}

/* Gradual fade-out effect */
#nprogress .bar {
  transition: width 1.5s ease-in-out, opacity 0.5s ease-in-out;
}
